<div  id="shop-item-card" class="my-2 px-2 w-1/2 overflow-hidden sm:my-3 sm:px-3 sm:w-full md:my-3 md:px-3 md:w-full lg:my-2 lg:px-2 lg:w-full xl:my-1 xl:px-1 xl:w-1/3">
  
  <div class="max-w-sm rounded overflow-hidden shadow-lg">
    <img class="w-full" src="https://via.placeholder.com/200/09f.png/fffC/O%20https://placeholder.com/" alt="placeholder">
    <div class="px-6 py-4">
      <div id="title" class="font-bold text-xl mb-2 text-darkPurple ">Sam's largest Stand</div>
      <p id="price" class=" text-cadet text-3xl font-bold   ">
        $23.99
        </p>
      <p id="review" class="text-base text-darkPurple">
      Impress your friends with big ass cake stand
      </p>
      <p id="radius" class="text-base text-cadet">
        Radius: 3 in
        </p>
      <button id="buy-button" class="bg-aeroBlue  text-darkPurple font-bold py-3 px-10 mt-3 rounded-full">
        Buy
      </button>


    </div>
    <div class="inline-flex my-2 mx-0" >
      <button id="edit-button" class="bg-gray-300 hover:bg-gray-400  text-cadet font-bold py-2 px-4 rounded-l">
        Edit
      </button>
      <button id="delete-button" class="bg-gray-300 hover:bg-gray-400 text-fieryRose font-bold py-2 px-4 rounded-r">
       Delete
      </button>
    </div>
  </div>
</div>